.temperature{
    font-size: 30px;
}

.StripOne{
    background-color:red;
}

.StripTwo{
    background-color: orange;
    
}

.StripThree{
    background-color: yellow
}

.StripFour{
    background-color: green
}

.StripFive{
    background-color: blue;
}