.citytext {
    color: blue;
    display: inline-flexbox;
}

.TextInput {
    font-size: large;
    border: 1px solid #f004dc;
    padding: 5px;
    border-radius: 3px;
    display: flexbox;
    margin: 5px auto;
    
}

.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.Radio {
    font-size: small;
}

.Button {
    display: block;
    background: rgb(8, 197, 240);
    border-radius: 5px;
    color:red;
    cursor: pointer;
    margin: 5px auto;
    border: 2px solid #f2f9fe;
    padding: 20px 50px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 3px 5px #aaa; 
    border-radius: 70% 40% 90% 20%; 
} 
    

    /* where the magic happens */

  
